<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    
    <h1>Registro de nuevo usuario</h1>

    <form action="/registrar" method="post">

        Correo:
        <input type="email" name="correo" id="correo"><br><br>

        Contraseña:
        <input type="password" name="pass" id="pass"><br><br>

        Nombres:
        <input type="text" name="nombre" id="nombre"><br><br>

        Apellidos:
        <input type="text" name="apell" id="apell"><br><br>

        Identidad:
        <input type="number" name="id" id="id"><br><br>

        Fecha de Nacimiento:
        <input type="date" name="fh" id="fh"><br><br>

        Sexo:
        <input type="sexo" name="nombre" id="nombre"><br><br>

        <input type="submint" value="Registrar">
</body>
</html>